{% extends "layout.html" %}

{% block title %}
    Viewing {{ table }}
{% endblock %}

{% block main %}
<h1>Calls from {{ table }}</h1>
<h2>Filter by selecting a strike price:</h2>
<form action="/strikeprice" method="post">
    <select class="form-control" name="strikeprices">
    {% for item in strprices %}
        <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
    </select>
    <input type="hidden" name="table" value="{{ table }}">
    <br>
    <br>
    <button class="btn btn-primary" type="submit">View by Strike Price</button>
</form>
<br>
<table class="centeredTables" style = "width:110%; text-align:center" border=1>
    <tr>
        <th>Contract Name</th>
        <th>Date</th>
        <th>Strike</th>
        <th>Price</th>
    </tr>
    
    {% for item in items %}
    <tr>
        {% for section in item %}
            <td>{{section}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
{% endblock %}